body, html {
    height: 100%;
    margin: 0;
  }
  
  .banner {
   
    background-image:linear-gradient(rgba(0,0,,0,0.75),rgba(0,0,0,0.75)),  url("./image.JPG");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
      .navbar{
          float: right;
          width: 85%;
          margin: auto;
          padding: 35px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
      }
      .navbar ul li{
          list-style: none;
          display: inline-block;
          margin: 0 20px;
          position: relative;
      }
      .navbar ul li a{
          text-decoration: none;
          color: white;
          text-transform: uppercase;
  
      }
      .navbar ul li::after{
          content: '';
          height: 3px;
          width: 0;
          background: #009688;
          position: absolute;
          left: 0;
          bottom: -10px;
          transition: 0.5s;
  
      }
      .navbar ul li:hover:after{
          width: 100%;
      }
      .content{
          width:100%;
          position: absolute;
          top:30%;
          transform: translateY(-50%);
          text-align: center;
          color:#fff;
      }
     
      .content p{
          margin:20px auto;
          font-weight: 100;
          line-height: 25px;
          font-size: 23px;
  
  
      }
      .video{
          position:absolute;
  bottom:10%;
  left:35%;
      }
      .copy{
          position:absolute;
          bottom:0px;
          left:46%;
          color: #fff;
      }
